:root {
    --hue: 225.7;
    --sat: 34.4%;
    --light: 88%;

    --background-footer: hsl(var(--hue), var(--sat), 27%);
}

body {
    background-color: #d6dbeb;
    min-width: 300px;
    font-size: 200%;
    font-weight: bold;
    font-family: 'Iosevka', sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: 100vh 80px;
    height: 98vh;
    min-width: 350px;
    overflow-x: hidden;
}

body.playing {
    background-color: hsl(var(--hue), calc(var(--sat) * 0.8), calc(var(--light) * 0.8));
    transition: background-color 3s;
}

main {
    margin: 20px auto;
    grid-row: 1;
    text-align: center;
    position: relative;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transform: translateX(-10px);
}

canvas,
.screen {
    border: #596967 10px solid;
    border-style: outset;
    border-radius: 1%;
    background-color: lightgray;
    height: 70vmin;
}

main {
    width: 70vmin;
}

canvas,
table,
.screen,
#fire {
    width: 100%;
}

table {
    font-size: 1.75rem;
    text-transform: uppercase;
    margin: 15px auto;
}

h1 {
    font-size: 11vmin;
    line-height: 13vmin;
    margin: 0;
}

h2 {
    place-self: center;
    font-size: 8vmin;
}

footer {
    grid-row: 2;
    font-family: monospace;
    font-weight: normal;
    line-height: 1.2rem;
    color: white;
    font-size: 12px;
    display: flex;
    place-content: center;
    place-items: center;
    width: 100vw;
    height: 80px;
    background: hsl(var(--hue), var(--sat), 27%);
    position: relative;
    padding: 10px 0;
}

button {
    display: block;
    background-color: lightgray;
    border: none;
    margin: 0 auto;
    text-decoration: none;
    color: black;
    font-family: 'Iosevka', sans-serif;
    font-size: 6vmin;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: transform 0.05s ease;
}

button:hover,
button:focus,
#exit:hover,
#exit:focus {
    color: white;
}

button:active,
#exit:active {
    transform: scale(0.95);
    color: #eee;
}

#exit {
    color: #0007;
}

#score,
#highscore,
p {
    display: inline-block;
}

#back {
    padding: 0;
    margin: 0 auto;
}

#overlay {
    position: absolute;
    top: 70px;
    background-color: transparent;
    display: grid;
    align-content: center;
}

#instructionsScreen>p {
    font-family: 'Iosevka', sans-serif;
    font-size: 3.25vmin;
    font-weight: 400;
    margin: 0 auto;
    text-align: left;
    width: 80%;
    line-height: 4.5vmin;
}

#scoreCell {
    text-align: right;
}

#highscoreCell {
    text-align: left;
}

.hidden {
    display: none !important;
}

#restart,
#highscoreAlert {
    font-variant: small-caps;
}

#controls {
    display: none;
}

#controls button {
    font-size: 2em;
    border: none;
    border-radius: 15px;
    padding: 0.8rem 2rem;
    margin: 0.5rem;
    text-decoration: none;
    background: #c2d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#controls button:hover {
    background: #8fa9ff;
}

#left,
#right {
    flex-grow: 1;
}

@media only screen and (max-width: 600px) {
    #controls {
        display: flex;
        flex-wrap: wrap;
    }

    #controls button {
        display: inline-block;
    }

    main {
        width: 80vmin;
        min-width: 300px;
    }

    canvas,
    .screen {
        height: 80vmin;
        min-height: 300px;
        overflow: hidden;
    }

    table {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 14vmin;
        line-height: 15vmin;
    }

    h2 {
        font-size: 10vmin;
    }

    button {
        font-size: 8vmin;
    }

    #instructionsScreen>p {
        font-size: 4vmin;
        line-height: 5.5vmin;
    }

    #overlay {
        top: 65px;
    }
}

@media only screen and (max-width: 370px) {
    body {
        overflow-x: scroll;
    }

    h1 {
        font-size: 3.25rem;
        line-height: 3.5rem;
    }

    h2 {
        font-size: 2.3rem;
    }

    button {
        font-size: 1.875rem;
    }

    #instructionsScreen>p {
        font-size: 1rem;
        line-height: 1.3em;
    }
}

@font-face {
    font-family: 'Iosevka';
    font-display: swap;
    src: url('../resources/fonts/iosevka-ss11-regular-webfont.woff2') format('woff2'), url('../resources/fonts/iosevka-ss11-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}