:root {
    --hue: 225.7;
    --sat: 34.4%;
    --light: 88%;
}

body {
    background-color: #d6dbeb;
    min-width: 300px;
    font-size: 200%;
    font-weight: bold;
    font-family: 'Iosevka', sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: 100vh 80px;
    height: 98vh;
    min-width: 350px;
    overflow-x: hidden;
}

main {
    margin: 20px auto;
    grid-row: 1;
    text-align: center;
    position: relative;
}

canvas,
.screen {
    border: #596967 10px solid;
    border-style: outset;
    border-radius: 1%;
    background-color: lightgray;
    height: 70vmin;
}

canvas,
.screen,
table {
    width: 70vmin;
}


table {
    font-size: 4vmin;
    text-transform: uppercase;
    margin: 15px auto;
}

h1 {
  font-size: 11vmin;
  line-height: 13vmin;
}

h2 {
    place-self: center;
}

footer {
    grid-row: 2;
    /* font-family: monospace;
    font-size: 0.8em;
    margin: auto;
    text-align: center;
    */
    font-family: monospace;
    font-weight: normal;
    line-height: 1.2rem;
    color: white;
    font-size: 12px;
    display: flex;
    place-content: center;
    place-items: center;
    width: 100vw;
    height: 80px;
    background: hsl(var(--hue), var(--sat), 27%);
    position: relative;
    padding: 10px 0;
}

button {
    display: block;
    background-color: lightgray;
    border: none;
    padding: 1rem 2rem;
    margin: 0 auto;
    text-decoration: none;
    color: black;
    font-family: 'Iosevka', sans-serif;
    font-size: 6vmin;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    color: white;
}

#score,
#highscore,
p {
    display: inline-block;
}

#back {
    padding: 0;
    margin: 6% auto;
}

#pauseScreen {
    position: absolute;
    top: 65px;
    background-color: transparent;
    display: grid;
}

#instructionsScreen p:first-child {
    margin-top: 2em;
}

#instructionsScreen>p {
    font-family: 'Iosevka', sans-serif;
    font-size: 0.6em;
    font-weight: 400;
    margin: 0.7em auto;
    text-align: left;
    width: 80%;
}

#scoreCell {
    text-align: right;
}

#highscoreCell {
    text-align: left;
}

.hidden {
    display: none !important;
}

#restart {
    text-align: center;
    font-variant: small-caps;
    line-height: 20px;
    display: block;
    transform: translateY(-40vmin);
}

#fire {
    width: 100% !important;
}

#controls {
    display: none;
}

#controls button {
    font-size: 2em;
    border: none;
    border-radius: 15px;
    padding: 0.8rem 2rem;
    margin: 7px 0;
    text-decoration: none;
    background: #c2d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 48%;
}

#controls button:hover {
    background: #8fa9ff;
}

@media only screen and (max-width: 600px) {
    #controls {
        display: block;
    }

    #controls button {
        display: inline-block;
    }

    canvas,
    .screen {
        height: 80vmin;
        min-height: 300px;
        overflow: hidden;
    }

    canvas,
    .screen,
    table {
        width: 80vmin;
        min-width: 300px;
    }

    main {
        font-size: 0.75em;
    }

    h1 {
        margin: 8% 0 2% 0;
    }
}

@media only screen and (max-width: 350px) {
    body {
        overflow-x: scroll;
    }
}


@font-face {
    font-family: 'Iosevka';
    font-display: swap;
    src: url('resources/fonts/iosevka-ss11-regular-webfont.woff2') format('woff2'),
        url('resources/fonts/iosevka-ss11-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}