body {
    background-color: #d6dbeb;
    min-width: 300px;
    font-size: 200%;
    font-weight: bold;
    font-family: 'Iosevka', sans-serif;
    display: grid;
    grid-template-rows: 1fr 80px;
    height: 98vh;
}

main {
    margin: 5% auto;
    grid-row: 1;
    text-align: center;
}

canvas,
.screen {
    border: #596967 10px solid;
    border-style: outset;
    border-radius: 1%;
    background-color: lightgray;
    width: 400px;
    height: 400px;
}

table {
    width: 400px;
    margin: 2%;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#score,
#highscore,
p {
    display: inline-block;
}

#back {
    padding: 0;
    margin: 6% auto auto auto;
}

#instructionsScreen p:first-child {
    margin-top: 2em;
}

#instructionsScreen>p {
    font-family: 'Iosevka', sans-serif;
    font-size: 0.6em;
    font-weight: 400;
    margin: 0.7em auto;
    text-align: left;
    width: 80%;
}

#scoreCell {
    text-align: right;
}

#highscoreCell {
    text-align: left;
}

.hidden {
    display: none;
}

#restart {
    text-align: center;
    font-variant: small-caps;
    line-height: 20px;
}

footer {
    grid-row: 2;
    font-family: monospace;
    font-size: 0.8em;
    margin: auto;
    text-align: center;
    line-height: 1.2rem;
    font-size: 0.8rem;
    font-weight: normal;
}

button {
    display: block;
    background-color: lightgray;
    border: none;
    padding: 1rem 2rem;
    margin: 0 auto;
    text-decoration: none;
    color: black;
    font-family: 'Iosevka', sans-serif;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    color: white;
}


#left,
#right {
    grid-column: 2;
    grid-row: 1;
    font-size: 2em;
    display: none;
    border: none;
    border-radius: 15px;
    padding: 0.8rem 2rem;
    margin: 7px 0;
    text-decoration: none;
    background: #c2d0ff;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#left:hover,
#right:hover {
    background: #8fa9ff;
}

@media only screen and (max-width: 600px) {

    #left,
    #right {
        display: inline-block;
    }

    canvas,
    .screen {
        width: 300px;
        height: 300px;
    }

    main {
        font-size: 0.75em;
    }

    table {
        width: 90vw;
        max-width: 300px;
        margin: auto;
    }
}


@font-face {
    font-family: 'Iosevka';
    font-display: swap;
    src: url('resources/fonts/iosevka-ss11-regular-webfont.woff2') format('woff2'),
        url('resources/fonts/iosevka-ss11-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}